<h1>Room: {{name}} | Seat: {{seatNum}}</h1>

<form method="post">
    <p>
        <input type="submit" name="submit_button" value="Select New Seat">
    </p>
    <p>

    </p>
    <p><h3>Change Status</h3></p>
    <p>
        <input type="submit" name="submit_button" value="Not Occupied">
        <input type="submit" name="submit_button" value="Occupied">
        <input type="submit" name="submit_button" value="Unavailable">
    </p>
    <p>

    </p>
    <p><h3>Move Seat</h3></p>
    <p>
        <input type="submit" name="submit_button" value="Left">
        <input type="submit" name="submit_button" value="Right">
        <input type="submit" name="submit_button" value="Up">
        <input type="submit" name="submit_button" value="Down">
    </p>
    <p>
        <input type="submit" name="submit_button" value="Left (Half)">
        <input type="submit" name="submit_button" value="Right (Half)">
        <input type="submit" name="submit_button" value="Up (Half)">
        <input type="submit" name="submit_button" value="Down (Half)">
    </p>

</form>

<p><img src="{{ roomMap }}" alt=""></p>