<h1>Enter Room Parameters</h1>
<body>

    <form action="" method="post">
        <p>
            <label for="roomName">Room Name</label>
            <input type="text" name="roomName">
        </p>
        <p>
            <label for="numSeats">Number of Seats</label>
            <input type="text" name="numSeats">
        </p>
        <p>
            <label for="numRows">Number of Rows</label>
            <input type="text" name="numRows">
        </p>
        <p>
            <label for="seats">Enter Seats in Each Row (, seperated)</label>
            <input type="text" name="seats">
        </p>
        <p>
            <input type="submit">
        </p>

    </form>

    <p>{{ message }}</p>

    <p><img src="{{ roomMap }}" alt="{{ message }}"></p>

</body>